<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration</title>
</head>
<body>
<a href="/">Main</a>
<br>
<form method="post">
    <table>
        <caption>Configuration</caption>
        <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        {% if operation == 'read' %}
            {% for item in configuration %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.value }}</td>
                    <td><a href="/configuration/update/{{ item.identifier }}">Update</a></td>
                </tr>
            {% endfor %}
        {% else %}
            {% for form in form.form_list %}
                {{ form.identifier }}
                <tr>
                    <td>{{ form.form.description }}</td>
                    <td>{{ form.form.value }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% if operation != 'read' %}
        <a href="/configuration">Back</a>
        {{ form.submit }}
    {% endif %}
</form>
</body>
</html>