<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forward</title>
</head>
<body>
<a href="{{ url_for('main_view') }}">Main</a>
<br>
{% for strategy, account in accounts.items() %}
    <table>
        <caption>{{ strategy.identifier }}</caption>
        <thead>
        <tr>
            <th scope="col">Cash</th>
            <th scope="col">Value</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ account.cash }}</td>
            <td>{{ account.total_value }}</td>
            <td>{{ account.total }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table>
        <caption>Inventory</caption>
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Number</th>
            <th scope="col">Price</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        {% for symbol, entry in account.inventory.items() %}
            <tr>
                <td>{{ symbol }}</td>
                <td>{{ entry.price }}</td>
                <td>{{ entry.number }}</td>
                <td>{{ entry.value() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
<br>
{% for strategy, forwards in groups.items() %}
    <table>
        <caption>{{ strategy.identifier }}</caption>
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Symbol</th>
            <th scope="col">Action</th>
            <th scope="col">Price</th>
            <th scope="col">Number</th>
            <th scope="col">Cash</th>
        </tr>
        </thead>
        <tbody>
        {% for forward in forwards %}
            <tr>
                <td>{{ forward.timestamp }}</td>
                <td>{{ forward.symbol }}</td>
                <td>{{ forward.action }}</td>
                <td>{{ forward.price }}</td>
                <td>{{ forward.number }}</td>
                <td>{{ forward.cash }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
</body>
</html>