<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Bot</title>
</head>
<body>
<a href="{{ url_for('stock_view') }}">Stock</a>
<br>
<a href="{{ url_for('intraday_view') }}">Intraday</a>
<br>
<a href="{{ url_for('evaluation_view') }}">Evaluation</a>
<br>
<a href="{{ url_for('forward_view') }}">Forward</a>
<br>
<a href="{{ url_for('process_view') }}">Process</a>
<br>
<a href="{{ url_for('import_view') }}">Import</a>
<br>
<a href="{{ url_for('export_view') }}">Export</a>
<br>
<a href="{{ url_for('configuration_view') }}">Configuration</a>
<br>
<a href="{{ url_for('portfolio_view') }}">Portfolio</a>
</body>
</html>