<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
<a href="{{ url_for('main_view') }}">Main</a>
<form method="post">
    <table>
        <caption>Portfolio</caption>
        <thead>
        <tr>
            <th scope="col">Isin</th>
            <th scope="col">Symbol</th>
            <th scope="col">Mode</th>
        </tr>
        </thead>
        <tbody>
        {% if operation == 'read' %}
            {% for item in portfolio %}
                <tr>
                    <td>{{ item.isin }}</td>
                    <td>{{ item.symbol }}</td>
                    <td>{{ item.mode }}</td>
                    <td><a href="{{ url_for('portfolio_view', operation='delete', symbol=item.symbol) }}">Delete</a>
                    </td>
                    <td><a href="{{ url_for('portfolio_view', operation='update', symbol=item.symbol) }}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% for form in form.form_list %}
                <tr>
                    <td>{{ form.form.isin }}</td>
                    <td>{{ form.form.symbol }}</td>
                    <td>{{ form.form.mode }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    {% if operation == 'read' %}
        <a href="{{ url_for('portfolio_view', operation='create') }}">Create</a>
    {% else %}
        <a href="{{ url_for('portfolio_view') }}">Back</a>
        {{ form.submit }}
    {% endif %}
</form>
</body>
</html>