<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process</title>
</head>
<body>
<a href="{{ url_for('main_view') }}">Main</a>
{% if running %}
    <p>Process Manager is running</p>
{% else %}
    <p>Process Manager is not running</p>
{% endif %}
<ul>
    {% for process in active_processes %}
        <li>{{ process }}</li>
    {% endfor %}
</ul>
{% for process in active_processes %}
    <a href="{{ url_for('process_stop_view', process_name=process) }}">Stop {{ process }}</a>
    <br>
{% endfor %}
{% for process in inactive_processes %}
    <a href="{{ url_for('process_start_view', process_name=process) }}">Start {{ process }}</a>
    <br>
{% endfor %}
</body>
</html>