<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
</head>
<body>
<a href="{{ url_for('main_view') }}">Main</a>
<table>
    <caption>Stock</caption>
    <thead>
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Isin</th>
    </tr>
    </thead>

    <tbody>
    {% for stock in stocks %}
        <tr>
            <td><a href="{{ url_for('stock_intraday_view', symbol=stock.symbol) }}">{{ stock.symbol }}</a></td>
            <td>{{ stock.isin }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>