<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Intraday</title>
</head>
<body>
<a href="{{ url_for('stock_view') }}">Stock</a>
<table>
    <caption>Intraday</caption>
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Open</th>
        <th scope="col">High</th>
        <th scope="col">Low</th>
        <th scope="col">Close</th>
        <th scope="col">Volume</th>
        <th scope="col">Symbol</th>
    </tr>
    </thead>

    <tbody>
    {% for intraday in intradays %}
        <tr>
            <td>{{ intraday.date }}</td>
            <td>{{ intraday.open }}</td>
            <td>{{ intraday.high }}</td>
            <td>{{ intraday.low }}</td>
            <td>{{ intraday.close }}</td>
            <td>{{ intraday.volume }}</td>
            <td>{{ intraday.symbol }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>